@media (max-width: 43.75rem) {
  .hide-sm {
    display: none;
  }

  // Navbar
  .navbar {
    display: block;
    text-align: center;

    ul {
      text-align: center;
      justify-content: center;
    }

    h1 {
      margin-bottom: 1rem;
    }
  }
};